name: Localization Validator

on:
  pull_request:
    branches: [ "main", "develop", "action" ]
    paths:
      - '**.json'

jobs:
  list-locals:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: set-matrix 
        run: |
          # Getting changed and added locals files
          FILES=$(git diff --name-only --diff-filter=AM origin/${{ github.base_ref }}...HEAD | grep '\.json$' | grep -v 'EN.json' | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$FILES" >> $GITHUB_OUTPUT

  validate:
    needs: list-locals
    # Run only if there are changed or added locals files
    if: ${{ needs.list-locals.outputs.matrix != '[]' && needs.list-locals.outputs.matrix != '' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        file: ${{ fromJson(needs.list-locals.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Validate ${{ matrix.file }}
        run: dotnet run --project validator/validator.csproj -- "${{ matrix.file }}"